* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #C2B2B4;
  min-width: 320px;
}

/* HEADER SECTION */
header {
  background-color: #3E2A35;
  border: 1px solid #3E2A35;
  display: flex;
  justify-content: space-between;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

h1 {
  color: white;
  letter-spacing: 1px;
  font-size: 45px;
  font-weight: 800;
  margin: 25px 0;
  text-transform: uppercase;
}

section img {
  height: 35px;
  padding: 0 10px;
}

.search-area {
  align-items: center;
  display: flex;
  padding: 0 15px;
}

.search-bar {
  color: #C2B2B4;
  border: 1px solid #C2B2B4;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  height: 40px;
  padding: 10px 50px 10px 10px;
}

.search-btn {
  background-color: #C2B2B4;
  border: 1px solid #C2B2B4;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-size: 25px;
  margin: 0 0 0 -10px;
  padding: 5px 15px;
}

/* FORM */
.form-area {
  background-color: #3E2A35;
}

/* INPUTS */
.input-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"]:focus {
  border: 1px solid #C2B2B4;
  outline: none;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.user-input {
  height: 35px;
  width: 525px;
}

/* FILE UPLOAD */
.upload {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 0.1px;
	z-index: -1;
}

.upload-label {
  background-color: #5B4447;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  text-align: center;
  width: 525px;
}

.upload-label:hover {
  background-color: #938284;
}

label {
  color: #938284;
  font-size: 16px;
  padding: 10px 0;
}



/* BUTTONS */
.top-btns {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 0;
  padding-bottom: 25px;
}

.btns {
  background-color: #5B4447;
  border: 1px solid #5B4447;
  color: white;
  height: 40px;
  margin: 0px 82px;
  outline: 0;
  width: 180px;
}

.btns:hover {
  background-color: #938284;
}

.small-btns {
  display: flex;
  margin-top: 20px;
}

/* IMAGE CARD AREA */
.image-card-area {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

/* CARD template! */
.image-card {
  background-color: white;
  border: 2px solid #5B4447;
  display: flex;
  flex-direction: column;
  height: 375px;
  width: 275px;
  margin: 0 15px 25px 15px;
}

.card-title {
  color: #3E2A35;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.card-img {
  object-fit: cover;
  height: 175px;
  width: 271px;
}

p {
  color: #3E2A35;
  font-size: 16px;
  font-weight: 600;
  height: 100px;
  overflow: hidden;
  padding: 10px 15px;
}

.card-bottom {
  background-color: #5B4447;
  display: flex;
  height: 52px;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.card-btns {
  background-color: #5B4447;
  border: 0;
  height: 35px;
  width: 35px;
  margin: 0 10px;
  outline: 0;
}

.delete {
  background-image:url(images/delete.svg);
  background-repeat: no-repeat;
}

.delete:hover {
  background-image:url(images/delete-active.svg);
  background-repeat: no-repeat;
}

.delete-active {
  background-image:url(images/delete-active.svg);
  background-repeat: no-repeat;
}

.favorite {
  background-image:url(images/favorite.svg);
  background-repeat: no-repeat;
}

.favorite:hover {
  background-image: url(images/favorite-active.svg);
  background-repeat: no-repeat;
}

.favorite-active {
  background-image: url(images/favorite-active.svg);
  background-repeat: no-repeat;
}


@media screen and (max-width: 749px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    padding-right: 120px;
  }

  .user-input {
    width: 365px;
  }

  .upload-label {
    width: 365px;
  }

  .favorites,
  .add {
    margin: 0px 30px;
    width: 152px;
  }
}

@media screen and (max-width: 449px) {
  .title {
    padding: 0 5px;
  }
  
  h1 {
    font-size: 35px;
  }

  .search-area {
  padding: 0 10px;
  }

  .search-bar {
    padding-right: 50px;
  }

  .user-input {
    width: 295px;
  }
  
  .upload-label {
    width: 295px;
  }

  .favorites,
  .add {
    font-size: 12px;
    margin: 0px 20px;
    width: 118px;
  }
}
