* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #C2B2B4;
  display: grid;
  grid-template-areas:
  "main"
  "cards"
}

/* HEADER SECTION */
header {
  background-color: #3E2A35;
  display: flex;
  justify-content: space-between;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

h1 {
  font-size: 45px;
  color: white;
  font-weight: 800;
  margin: 25px 0;
  text-transform: uppercase;
  letter-spacing: 1px
}

section img {
  height: 35px;
  padding: 0 10px;
}

.search-bar {
  color: #C2B2B4;
  border: 1px solid #C2B2B4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 50px 10px 10px;
}

.search-area {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-btn {
  background-color: #C2B2B4;
  border: 1px solid #C2B2B4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  margin: 0 0 0 -10px;
  padding: 5px 15px;
  font-size: 25px;
}
/* TITLE */




/* FORM */
.form-area {
  background-color: #3E2A35;
}
/* INPUTS */

.input-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.user-input {
  height: 35px;
  width: 525px;
}

label {
  color: #938284;
  font-size: 16px;
  padding: 10px 0;
}

/* BUTTONS */
.main-btns {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 25px 0;
  flex-direction: column;
}

.btns {
  background-color: #5B4447;
  border: 1px solid #5B4447;
  color: white;
  height: 40px;
  margin: 0px 82px;
  width: 180px;
}

.small-btns {
  display: flex;
  margin-top: 20px;

}

.large {
  width: 525px;
}

.btns:hover {
  background-color: #938284;
}

/* IMAGE CARD AREA */

.image-card-area {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 75px;
    justify-content: center;
}


/* CARD template! */

.image-card {
    border: 2px solid #5B4447;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 375px;
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}

.card-title {
  color: #3E2A35;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.card-img {
  background-color: #938284;
  height: 165px;
  width: 246px;
}

p {
  color: #3E2A35;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  height: 100px;
  overflow: hidden;
}


footer {
  background-color: #5B4447;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.card-icons {
  height: 25px;
  margin: 0 10px;
}

@media screen and (max-width: 749px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    padding-right: 120px;
  }

  .user-input {
    width: 365px;
  }
  
  .large {
    width: 365px;
  }

  .small-btns {

  }
}